<article id="contact">
  <div class="article-content">
    <h1>Contact</h1>

    <h3>To Contact Us About Submissions/Marketing/Our Website/Business/Inquiries:</h3>
    <p>Please send an email to <a href="mailto:saisjournal@gmail.com">saisjournal@gmail.com</a></p>

  </div>
</article>
